* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    padding-bottom: 80px;
}

img {
    width: 100%;
    vertical-align: bottom;
}

button {
    cursor: pointer;
}

header {
    background-color: #3b86ff;
    color: #fff;
    padding: 18.75px 0;
}

header h1 {
    font-size: 18px;
    text-align: center;
}

.inner {
    max-width: 370px;
    margin: 0 auto;
    padding: 24px 16px 0;
}

#login .user-name-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e9e9f0;
    padding: 7.65px 8px;
    margin-bottom: 24px;
    font-size: 15px;
}

#login .user-name-input::placeholder {
    color: #43425d;
    font-size: 15px;
}

#login button {
    background-color: #43425d;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 105px;
    padding: 10.75px 0;
    transition: 0.5s;
}

#login button:hover {
    background-color: rgba(67, 66, 93, 0.7);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.container {
    margin: 0 auto;
}

#app {
    display: none;
}

#app.active {
    display: block;
    animation: apper .5s ease;
}

@keyframes apper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.user {
    display: flex;
    justify-content: start;
    margin-bottom: 4px;
}

.user-r {
    justify-content: end;
}

.message-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 4px;
}

.user-name {
    font-size: 11px;
    color: #4d4f5c;
    margin-bottom: 4px;
}

.message {
    padding: 8px 12px;
    color: #4d4f5c;
    background-color: #edf0f5;
    border-radius: 20px 20px 20px 0;
    margin-bottom: 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.user-r .message {
    color: #fff;
    background-color: #3b86ff;
    border-radius: 20px 20px 0 20px;
}

.date-time {
    color: #4d4f5c;
    font-size: 11px;
}

.user-r .date-time {
    align-self: flex-end;
}

#message-form {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    background-color: #fff;
}

.position-area {
    position: relative;
    max-width: 338px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* 
ファイルボタン、画像ボタン（今後実装予定）
input[type="file"] {
    display: none;
}

.file-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.link-file-input {
    left: 0;
}

.image-file-input {
    left: 27px;
} */

#message-area {
    width: 100%;
    border: none;
    border-top: 1px solid #e8e9ec;
    padding: 20px 40px 20px 16px;
    /* 
    ファイルボタン、画像ボタン設置後
    padding: 20px 40px 20px 54px;
     */
    resize: none;
    display: block;
    margin: 0 auto;
}

#message-area::placeholder {
    font-size: 13px;
    color: #3b86ff;
}

.send-btn {
    width: 24px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

/* タブレット画面 */
@media (min-width: 768px) {
    body {
        font-size: 16px;
        padding-bottom: 96px;
    }

    header {
        padding: 25px 0;
    }

    header h1 {
        font-size: 24px;
    }

    .inner {
        max-width: 750px;
        padding: 48px 16px 0;
    }

    #login .user-name-input {
        font-size: 16px;
        margin-bottom: 32px;
    }

    #login .user-name-input::placeholder {
        color: #43425d;
        font-size: 16px;
    }

    #login button {
        font-size: 18px;
        width: 185px;
        padding: 14.5px 0;
    }

    .user {
        margin-bottom: 16px;
    }

    .message-container {
        margin-bottom: 16px;
    }

    .user-name {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .message {
        padding: 12px 16px;
        margin-bottom: 8px;
    }

    .date-time {
        font-size: 13px;
    }

    .position-area {
        max-width: 718px;
    }

    #message-area {
        padding: 27px 48px 27px 20px;
    }

    #message-area::placeholder {
        font-size: 18px;
    }

    .send-btn {
        width: 32px;
        right: 16px;
    }
}
